* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This stlyes the body of the website */
body {
    background-color: #d9dcd6;
}
/*This styles the div class "header" in the navigation bar*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*This stlyes the div class header navigation options */
.header div ul {
    list-style-type: none;
}
/*div ul li selector element*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*This stlyes the paragraph in the div class "content"*/
p {
    font-size: 16px;
}
/* This hero image corresponds to the image on the landing page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* This corresponds to the article images to be moved to their designated sides*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*This stlyes the aside information */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*This stlyes the aside information*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*This stlyes the aside information images */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* This styles the "Search Engine Optimiztion" Section*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* This styles the "Online Reputation Management" Section*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* This styles the "Social Media Marketing" Section*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* This styles the "Online Reputation Management" Section img*/
.search-engine-optimization img {
    max-height: 200px;
}
/* This styles the "Online Reputation Management" Section img*/
.online-reputation-management img {
    max-height: 200px;
}
/* This styles the "Social Media Marketing" Section img*/
.social-media-marketing img {
    max-height: 200px;
}
/* This styles the "Online Reputation Management" Section h2*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* This styles the "Online Reputation Management" Section h2*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* This styles the "Social Media Marketing" Section h2*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Footer Styling*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Footer Styling h2*/
.footer h2 {
    font-size: 20px;
}
